/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2020, 12:59:32
    Author     : Daniel
*/
/*///////////////// RESET//////////////////////////////////////////////*/
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    list-style-type:none;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    /*  font-family: 'Karla', sans-serif;*/
    font-family: 'PT Sans', sans-serif;

}
a{
    color: white;
}
html{
    /* a cada 1 rem sera igual a 10 pixels*/
    font-size: 62.5%;
}

body{
    width: 100%;
    font-size: 1.6rem;
}
.apresentacao{
    width: 100%;
    height: 100vh;
/*    background-color: rgba(126, 117, 255,1);*/
background: -moz-linear-gradient(270deg, rgba(184,196,255,1) 0%, rgba(48,15,214,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(184,196,255,1)), color-stop(100%, rgba(48,15,214,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(184,196,255,1) 0%, rgba(48,15,214,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(184,196,255,1) 0%, rgba(48,15,214,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(184,196,255,1) 0%, rgba(48,15,214,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(184,196,255,1) 0%, rgba(48,15,214,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B8C4FF', endColorstr='#300FD6',GradientType=0 ); /* ie6-9 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
h3{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.container{
    width: 100%;
    height: 100vh;
/*    background-color: rgba(85, 255, 59,1);*/
background: -moz-linear-gradient(270deg, rgba(175,89,255,1) 0%, rgba(0,255,0,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(175,89,255,1)), color-stop(100%, rgba(0,255,0,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(175,89,255,1) 0%, rgba(0,255,0,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(175,89,255,1) 0%, rgba(0,255,0,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(175,89,255,1) 0%, rgba(0,255,0,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(175,89,255,1) 0%, rgba(0,255,0,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AF59FF', endColorstr='#00ff00',GradientType=0 ); /* ie6-9 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
h1{
    background-color: white;
    margin: 10px;
    color: red;
    font-size: 1.8rem;
    padding: 1.5rem;
     border-radius: 3px;   
}
.content{
     width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    width: 80vw;
    height:350px;
    border: 1px solid black;
    margin: 10px; 
    background-color: rgba(12, 255, 99,1);
    display: flex;
    justify-content: center;
    align-items: center;
/*    margin-right: 70px;*/
}
h2{
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px white;
}
.box{
    width: 310px;
    height: 310px;
    border: 1px solid black;
    margin-top: 40px;
/*    margin-left: 70px;*/
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
hr { 
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  background-color: black;
}
/*768 px*/
@media only screen and (min-width: 48em) {
    h1{
    margin: 20px;
    
    font-size: 2.3rem;
}
}

/*1024 px*/
@media only screen and (min-width: 64em) {



}


/*1200 px*/
@media only screen and (min-width: 75em) {


}
